.Contributor {
  margin-right: 20px;
  margin-bottom: 20px;
  border: 1px solid;
  border-radius: 4px;
  display: flex;

  &-header {
    background-color: #7A7A86;
    padding: 12px;

    &-img {
      position: relative;
    }
  }

  &-avatar {
    height: 80px;
    border-radius: 50%;
  }

  &-rank {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #ccc;
    position: absolute;
    bottom: 0px;
    right: 0px;

    p {
      font-size: 0.75em;
    }
  }

  &-details {
    padding: 12px;

    &-additions {
      color: #28a745;
    }

    &-deletions {
      color: #cb2431;
    }
  }
}
